<h2 align="center"><%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <%= @article.text %>
</p>

<% unless @article.comments.empty?%>
  <h2>Comments</h2>
  <%= render @article.comments %>
<% end %>

<h2> Add a comment: </h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
